<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main class="accountInfoPage">
                <h1>Witaj <b>
                        <%= userName %>
                    </b>!</h1>

                <div class="container">
                    <h3 id="error" style="color: rgb(238, 81, 81);text-align: center;font-size:medium;"></h3>
                    <h2>Twoje informacje</h2>
                    <p>Nazwa użytkownika: <b>
                            <%= userName %>
                        </b></p>
                    <p>Liczba skarg: <b>
                            <%= userFlags %>
                        </b></p>
                    <p>Data dołączenia: <b>
                            <%= createdAt %>
                        </b></p>
                    <h2>Działania</h2>
                    <a class="logout" href="/sign_out">Wyloguj się</a>
                </div>
            </main>

            <script>
                const urlParams = new URLSearchParams(window.location.search);
                const errorMessage = urlParams.get('error');
                document.getElementById("error").innerHTML = errorMessage;
            </script>
            <%- include('includes/footer.ejs') %>