<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main class="contactPage">
        <div class="container">
            <% if(novelId != null){ %>
            <h1>Zgłaszanie opowiadania</h1>
            <form method="post" action="/contact/<%= novelId %>/1">
                <label for="topic">Temat: </label>
                <input type="text" disabled value="Zgłaszanie opowiadania(ID: <%= novelId %>)">
                <label for="message">Treść zgłoszenia:</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                <input type="submit" value="Wyślij zgłoszenie">
            </form>

            <% } else { %>
            <h1>Formularz kontaktowy</h1>
            <form method="post" action="/send/<%= novelId %>">
                <p>
                    <label for="">Temat</label>
                    <select name="topic" id="" class="form-control">
                        <option value="">Wybierz temat</option>
                        <option value="2" label="Wspólpraca"></option>
                        <option value="2" label="Zgłoszenie błędu"></option>
                        <option value="4" label="Inny"></option>
                    </select>
                </p>
                <p>
                    <label for="message">Wiadomość</label>
                    <textarea name="message" id="message" class="form-control"></textarea>
                </p>

                <p>
                    <button class="btn btn-primary">Wyślij wiadmość</button>
                </p>
            </form>
            <% } %>
        </div>
    </main>
    <%- include('includes/footer.ejs') %>


