<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main class="homePage">
                <h1>
                    <%= pageHeader %>
                </h1>
                <% if (mainStory){ %>
                    <% if (mainStory) { %>
                        <div class="story">
                            <h1>
                                <%= mainStory.title %>
                            </h1>
                            <div class="text">
                                <pre><%= mainStory.text %></pre>
                            </div>
                            <form action=" /contact/<%=mainStory.id %>" method="get">
                                <input type="hidden" name="storyId" value="<%= mainStory.id %>">
                                <button class="btn">Zgłoś</button>
                            </form>
                        </div>
                        <% } %>

                            <div class="children">
                                <% if (stories[0]) { %>

                                    <h1>Kontynuuj czytanie:</h1>

                                    <div class="content">

                                        <% for(let story of stories) { %>
                                            <!-- <div class="singleStory">
                                            <div>
                                                <%= story.title %>
                                            </div>
                                            <div>
                                                <%= story.text.substring(0, 50)+"..." %>
                                            </div>
                                            <div> -->
                                            <a class="singleStory" href="/novel/<%= story.id %>">
                                                <h2>
                                                    <%= story.title %>
                                                </h2>
                                                <p>
                                                    <%= story.text.substring(0, 50)+"..." %>
                                                </p>
                                            </a>
                                            <!-- <form action="/novel/<%= story.id %>" method="get">
                                                    <input type="hidden" name="storyId" value="<%= story.id %>">
                                                    <button class="btn">Czytaj</button>
                                                </form> -->
                                            <% } %>

                                    </div>
                            </div>

                            <div class="adding">
                                <h3>Masz pomysł jak może potoczyć się ta historia? Stwórz własną kontynuację!</h3>
                                <a class="addBttn" href="/add?storyId=<%= mainStory.id %>">Dodaj część</a>
                            </div>

                            <% } else { %>
                                <div class="adding">
                                    <h3>Ta opowieść nie ma jeszcze kontynuacji. Stwórz własną!</h3>
                                    <a class="addBttn" href="/add?storyId=<%= mainStory.id %>">Dodaj część</a>
                                </div>
                                <% } %>



                                    <% } else { %>

                                        <div class="errDiv">

                                            <h3 class="err">Niestety, ta historia nie istnieje :(</h3>
                                            <a class="home" href="/">Powrót</a>
                                        </div>
                                        <% } %>

                                            </div>
            </main>
            <%- include('includes/footer.ejs') %>