<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main class="homePage">
                <h1>
                    <%= pageHeader %>
                </h1>
                <% if (mainStory){ %>
                    <% if (mainStory) { %>
                        <div class="story">
                            <h1>
                                <%= mainStory.title %>
                            </h1>
                            <div class="text">
                                <pre><%= mainStory.text %></pre>
                            </div>
                            <form action=" /contact/<%=mainStory.id %>" method="get">
                                <input type="hidden" name="storyId" value="<%= mainStory.id %>">
                                <button class="btn">Zgłoś</button>
                            </form>
                        </div>
                        <% } %>

                            <div class="children">
                                <h1>Kontynuuj czytanie:</h1>
                                <div class="content">
                                    <% if (stories[0]) { %>
                                        <% for(let story of stories) { %>
                                            <!-- <div class="singleStory">
                                            <div>
                                                <%= story.title %>
                                            </div>
                                            <div>
                                                <%= story.text.substring(0, 50)+"..." %>
                                            </div>
                                            <div> -->
                                            <a class="singleStory" href="/novel/<%= story.id %>">
                                                <h2>
                                                    <%= story.title %>
                                                </h2>
                                                <p>
                                                    <%= story.text.substring(0, 50)+"..." %>
                                                </p>
                                            </a>
                                            <!-- <form action="/novel/<%= story.id %>" method="get">
                                                    <input type="hidden" name="storyId" value="<%= story.id %>">
                                                    <button class="btn">Czytaj</button>
                                                </form> -->
                                            <% } %>

                                </div>
                            </div>

                            <% } else { %>
                                <div>Brak powiązanych części. Dodaj nową ;D </div>
                                <form action="/add" method="get">
                                    <input type="hidden" name="storyId" value="<%= mainStory.id %>">
                                    <button class="btn">Dodaj</button>
                                </form>
                                <% } %>



                                    </div>
                                    <% } else { %>
                                        ERROR: Błąd bazy danych
                                        <% } %>

                                            </div>
            </main>
            <%- include('includes/footer.ejs') %>